{% extends 'base.html.twig' %}

{% block title %}Dodaj zadanie{% endblock %}

{% block body %}
    <h1>Dodaj zadanie</h1>

    {{ form_start(addActiveTaskForm) }}
        {{ form_row(addActiveTaskForm.name) }}
        {{ form_row(addActiveTaskForm.description) }}
        {{ form_row(addActiveTaskForm.status) }}
        {{ form_row(addActiveTaskForm.deadline)}}
        <button type="submit" class="btn">Dodaj</button>
    {{ form_end(addActiveTaskForm) }}
{% endblock %}
